<div class="user-details">
  <h1> Featured Projects</h1>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="Event_Study" src="{{ "/assets/img/finance_white.avif" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3>An Event Study Analysis of the Energy Sector</h3>
    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
    <a class="project-link" href="{{ site.baseurl }}/economics/event_study/">Check it out now</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="Spatial_Analysis_Norway" src="{{ "/assets/img/Map Norway 2022.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3>Exploring the Influence of Charging Infrastructure Proximity on BEV Adoption in Norway
      </h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="{{ site.baseurl }}/economics/economics/spatial_analysis_norway/index.html">Check it out now</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="Event_Study" src="{{ "/assets/img/finance_white.avif" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3>An Event Study Analysis of the Energy Sector</h3>
    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
    <a class="project-link" href="{{ site.baseurl }}/economics/economics/spatial_analysis_norway/index.html">Check it out now</a>
  </div>
</div>
