<div class="user-details">
  <h1> Featured Projects</h1>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="Chrome" style="width: 100vw; height: 38vh; margin-top: 40px;" src="{{ "/assets/img/Adjusted Close Price 2019.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3>An Event Study Analysis of the Energy Sector</h3>
    <p>This paper examines the impact of unexpected events on abnormal returns in Spain's renewable energy sector. Curtailment, policy changes, and carbon pricing reveal how investors react, highlighting risks and sector dynamics. </p>
    <a class="project-link" href="{{ site.baseurl }}/economics/event_study/">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="Spatial_Analysis_Norway" style="width: 100vw; height: 40vh;" src="{{ "/assets/img/Map Norway 2022.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3>Exploring the Influence of Charging Infrastructure Proximity on BEV Adoption in Norway</h3>
    <p>This study examines the impact of charging infrastructure proximity on BEV adoption in Norway at the municipal level. Geospatial regression analysis uncovers varying effects based on distance, emphasizing the significance of addressing range anxiety in promoting BEV adoption.</p>
    <a class="project-link" href="{{ site.baseurl }}/economics/spatial_analysis_norway/index.html">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="Scotland" style="width: 100vw; height: 40vh; margin-top: 50px;" src="{{ "/assets/img/cancer_scotland.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3>Incidence of Lip Cancer in males for Scotland</h3>
    <p>This project employs the SpatialEpi dataset to explore lip cancer recurrence in Scottish counties. It investigates potential correlations with agricultural workforces, building on previous epidemiological findings. This contributes to a comprehensive understanding of the disease's regional dynamics and how it may vary across different regions</p>
    <a class="project-link" href="{{ site.baseurl }}/economics/spatial_analysis_cancer/index.html">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="Spatial_Analysis_Ukraine" style="width: 100vw; height: 50vh; margin-bottom: -10px;" src="{{ "/assets/img/Ukraine.gif" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3>Pre and Post-war Night Light Analysis of Ukraine (2021-2022)<br> (Ongoing Project)</h3>
    <p>Using satellite imagery of nightlight sources, this study will examine the changes in Ukraine's nocturnal landscape. <br>The goal is to investigate the demographic implications of the war through shifts in night light patterns from 2021 to 2022.</p>
    <!-- <a class="project-link" href="../economics/spatial_analysis_norway/index.html">Check it out now</a> -->
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="Modelling_Corruption" style="width: 100vw; height: 37vh; margin-top: 50px; margin-bottom: 40px;" src="{{ "/assets/img/corruption2.webp" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3>Modelling Corruption using a Game Theory Approach</h3>
    <p> This project uses game theory to model the incentives behind corruption. We begin with a simple model that demonstrates how excessive power in the hands of officials can lead to corruption. We then introduce a more complex model featuring a government agent who penalizes corrupt actions and a system to address information asymmetries.</p>
    <a class="project-link" href="../economics/modelling_corruption/index.html">Check it out now</a>
  </div>
</div>

