<div class="user-details">
  <h1> Featured Projects</h1>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="ECB Metaphors" loading="lazy" style="width: 100vw; height: 20vh; margin-top: 40px;" src="{{ "/assets/img/ecb_logo.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3>Metaphors and Inflation: A Study of ECB Communication</h3>
    <p>This thesis systematically identifies and categorizes conceptual metaphors related to inflation in ECB board member communications, using regular expressions, part-of-speech tagging, and neural network models on a corpus spanning 2005 to 2024.</p>
    <a class="project-link" href="{{ site.baseurl }}/projects/ecb-metaphors/">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="Chrome" loading="lazy" style="width: 100vw; height: 38vh; margin-top: 40px;" src="{{ "/assets/img/Adjusted Close Price 2019.webp" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3>An Event Study Analysis of the Energy Sector</h3>
    <p>This paper examines the impact of unexpected events on abnormal returns in Spain's renewable energy sector. Curtailment, policy changes, and carbon pricing reveal how investors react, highlighting risks and sector dynamics. </p>
    <a class="project-link" href="{{ site.baseurl }}/projects/event-study/">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="Spatial_Analysis_Norway" loading="lazy" style="width: 100vw; height: 40vh;" src="{{ "/assets/img/Map Norway 2022.webp" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3>Exploring the Influence of Charging Infrastructure Proximity on BEV Adoption in Norway</h3>
    <p>This study examines the impact of charging infrastructure proximity on BEV adoption in Norway at the municipal level. Geospatial regression analysis uncovers varying effects based on distance, emphasizing the significance of addressing range anxiety in promoting BEV adoption.</p>
    <a class="project-link" href="{{ site.baseurl }}/projects/spatial-norway/">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="Modelling_Corruption" loading="lazy" style="width: 100vw; height: 37vh; margin-top: 50px; margin-bottom: 40px;" src="{{ "/assets/img/corruption2.webp" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3>Modelling Corruption using a Game Theory Approach</h3>
    <p> This project uses game theory to model the incentives behind corruption. We begin with a simple model that demonstrates how excessive power in the hands of officials can lead to corruption. We then introduce a more complex model featuring a government agent who penalizes corrupt actions and a system to address information asymmetries.</p>
    <a class="project-link" href="{{ site.baseurl }}/projects/corruption/">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="NLP_Sentiment_Analysis" loading="lazy" style="width: 100vw; height: 37vh; margin-top: 50px; margin-bottom: 40px;" src="{{ "/projects/nlp-sentiment/images/RCL_SentimentScore_SharePrice.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3>NLP: Sentiment Analysis of Earnings Call Transcripts</h3>
    <p>This project analyzes how CEOs and CFOs modify their sentiment during economic crises. Using the Loughran-McDonald financial lexicon on earnings call transcripts from four companies (RCL, NCLH, DAL, LUV), we track sentiment shifts through COVID-19 and regresses them against share price data.</p>
    <a class="project-link" href="{{ site.baseurl }}/projects/nlp-sentiment/">Check it out</a>
  </div>
</div>

